@using Domain
@using Domain.Enum
@model CompraCreateVM

@{
	ViewData ["Title"] = "Crear Compra";
}

<h1>Registrar</h1>

<h4>Compra</h4>
<hr />
<div class="row">
	<div class="col-md-12">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="row">
				<div class="form-group col-md-6">
					<label asp-for="Nome" class="control-label"></label>
					<input asp-for="Nome" class="form-control" />
					<span asp-validation-for="Nome" class="text-danger"></span>
				</div>
				<div class="form-group col-md-6">
					<label asp-for="DateTime" class="control-label"></label>
					<input asp-for="DateTime" class="form-control" />
					<span asp-validation-for="DateTime" class="text-danger"></span>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-4">
					<label asp-for="Price" class="control-label"></label>
					<input asp-for="Price" id="Price" class="form-control" />
					@*<span asp-validation-for="Price" class="text-danger" ></span>*@
				</div>
				<div class="form-group col-md-4">
					<label asp-for="Quantidade" class="control-label"></label>
					<input asp-for="Quantidade" class="form-control" />
					<span asp-validation-for="Quantidade" class="text-danger"></span>
</div>
				<div class="form-group col-md-4">
					<label asp-for="Unidades" class="control-label"></label>
					<select asp-for="Unidades" class="form-control form-control-sm"
							asp-items="@(new SelectList(Enum.GetNames(typeof(EUnidade))))">
					</select>
					@*@Html.DropDownListFor(model => model.Unidades, new SelectList(Enum.GetNames(typeof(EUnidade))))*@
					<span asp-validation-for="Unidades" class="text-danger"></span>
				</div>
			</div>

			<div class="form-group">
				<label asp-for="Fornecedor" class="control-label"></label>
				<input asp-for="Fornecedor" class="form-control" />
				<span asp-validation-for="Fornecedor" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{
	await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
